@use "../base/variables" as v;
@use "../custom" as *;

.desarrollo {
  background-color: v.$background-main;
  margin: 20px auto;
  color: v.$color-text-primary;

  &__title {
    padding: 11px;
    margin: 10px auto;
    background-color: v.$background-title;
    font-size: v.$font-size-lvl3;
    color: v.$color-text-secondary;

  }

  &__card {
    margin: 0 auto;
    background-color: v.$background-card;
    margin: 5px;
    border-radius: 3%;
    padding-bottom: 8rem;
    overflow: hidden;
    cursor: pointer;

  }

  .card__title {
    color: v.$color-text-secondary;
    font-size: v.$font-size-lvl3;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: v.$background-subtitle;
    border-radius: 7px;
  }

  .card__description{
    font-size: v.$font-size-lvl5;
    font-family: v.$font-secondary;
    line-height: 1.7;
    padding: 7px;
    transition: font-size, 0.5s;
    cursor: pointer;

    &:hover {
      font-size: 1.6rem;
    }
}
}
