@use "../base/variables" as v;
@use "../custom" as *;

.desarrollo {
  background-color: v.$background-main;
  margin: 20px auto;
  color: v.$color-text-primary;

  @include media-breakpoint-up(lg) {
    max-height: 350vh;
  }

  &__title {
    padding: 11px;
    margin: 10px auto;
    background-color: v.$background-title;
    font-size: v.$font-size-lvl3;
    color: v.$color-text-secondary;

    @include media-breakpoint-up(lg) {
      font-size: v.$font-size-lvl2;
    }
  }

  &__card {
    margin: 0 auto;
  }

  &__card1,
  &__card2,
  &__card3,
  &__card4,
  &__card5,
  &__card6 {
    background-color: v.$background-card;
    margin: 5px;
    border-radius: 3%;
    padding-bottom: 8rem;
    overflow: hidden;
    cursor: pointer;

  }

  .card1__title,
  .card2__title,
  .card3__title,
  .card4__title,
  .card5__title,
  .card6__title {
    color: v.$color-text-secondary;
    font-size: v.$font-size-lvl3;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: v.$background-subtitle;
    border-radius: 7px;
  }

  .card1__description, .card2__description, .card3__description, .card4__description, .card5__description, .card6__description{
    font-size: v.$font-size-lvl5;
    font-family: v.$font-secondary;
    line-height: 1.7;
    padding: 5px;
    transition: font-size, 0.5s;
    cursor: pointer;

    &:hover {
      font-size: 1.6rem;
    }
}
}
