@use "../base/variables" as v;
@use "../custom" as *;

.versiones {
    background-color: v.$background-main;
    margin: 20px auto;
    color: v.$color-text-primary;
    
  
    &__title {
      padding: 11px;
      margin: 10px auto;
      background-color: v.$background-title;
      font-size: v.$font-size-lvl3;
      color: v.$color-text-secondary;
    }
}

.android__versions{
    font-family: v.$font-secondary;
    font-size: v.$font-size-lvl5;
    text-align: center;
    margin: 0px auto;
    padding: 12px;
    width: 90%;
    background-color: v.$background-card;
    cursor: pointer;
}