@use '../base/variables' as v;
@use '../custom' as *;

.desarrollocyan {
    background-color: v.$background-main-cyanogen;
    margin: 20px auto;
    color: v.$color-text-primary;

    @include media-breakpoint-up(lg) {
        max-height: 150vh;
    }

    &__title {
        padding: 11px;
        margin: 10px auto;
        background-color: v.$background-title-cyanogen;
        font-size: v.$font-size-lvl3;

        @include media-breakpoint-up(lg) {
            font-size: v.$font-size-lvl2;
        }
    }

    &__details {
        margin: 28px 20px;
        margin: 0px auto;
        cursor: pointer;
    }

    &__details1,
    &__details2,
    &__details3,
    &__details4 {
        background-color: v.$background-card-cyanogen;
        border: 1px solid v.$color-text-primary;
        padding: 3px 2px;
        // width: 100%;
    }
}

.details1__title,
.details2__title,
.details3__title,
.details4__title {
    font-size: v.$font-size-lvl2;
}

.details1__description,
.details2__description,
.details3__description {
    font-size: v.$font-size-lvl4;
    font-family: v.$font-secondary;
    line-height: 1.7;
}

.details4__image {
    width: 235px;
    margin-bottom: 5px;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease;

    &:hover {
        width: 270px;
    }
}