@use '../base/variables' as v;
@use '../custom' as *;

.desarrollocyan {
    background-color: v.$background-main-cyanogen;
    margin: 20px auto;
    color: v.$color-text-primary;

    @include media-breakpoint-up(lg) {
        min-height: 100vh;
        margin-bottom: 4px;
    }

    &__title {
        padding: 11px;
        margin: 10px auto;
        background-color: v.$background-title-cyanogen;
        font-size: v.$font-size-lvl3;
    }

    &__details {
        margin: 28px 20px;
        margin: 0px auto;
        cursor: pointer;
    }

    &__detail {
        background-color: v.$background-card-cyanogen;
        border: 1px solid v.$color-text-primary;
        padding: 3px 2px;
        // width: 100%;
    }
}

.detail__title {
    font-size: v.$font-size-lvl3;
    background-color: v.$background-subtitle-cyanogen;
    color: #ffffff;
    border-radius: 7px;
}

.detail__description {
    font-size: v.$font-size-lvl5;
    font-family: v.$font-secondary;
    padding: 15px;
    line-height: 1.7;
    transition-property: font-size;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    &:hover{
        font-size: 1.7rem;
    }
}

.detail__image {
    width: 220px;
    margin-bottom: 5px;
    transition-property: width;
    transition-duration: 0.4s;
    transition-timing-function: ease;

    &:hover {
        width: 235px;
    }
}