@use '../base/variables' as v;
@use '../custom' as *;

.footercyan{
    font-family: v.$font-primary;
    width: 100%;
    background-color: v.$background-header-cyanogen;
    margin: 0 auto;

    &__titleheader{
        font-size: v.$font-size-lvl4;
    }

    &__image{
        max-width: 40px;
    }

    &__creadortitle{
        font-size: v.$font-size-lvl4;
    }

    &__creadorimage{
        max-width: 50px;
        border-radius: 40%;
        overflow: hidden;
    }

    &__copyright{
        font-size: v.$font-size-lvl4;
    }
}