@use '../base/variables' as v;

.headercyanogen{
    font-family: v.$font-primary;
    width: 100%;
    background-color: v.$background-header-cyanogen;

    &__title{
        font-size: v.$font-size-lvl1;
        margin-right: 1rem;
    }

    &__image{
        max-width: 60px;
        margin-right: 10px;
    }
}