@use '../base/variables' as v;
@use "../custom" as *;

.headercyanogen{
    font-family: v.$font-primary;
    width: 100%;
    background-color: v.$background-header-cyanogen;

    &__title{
        font-size: v.$font-size-lvl2;
        margin-right: 0.8rem;

        @include media-breakpoint-up(lg){
            font-size: v.$font-size-lvl1;
        }
    }

    &__image{
        max-width: 60px;
        margin-right: 10px;
    }
}