@use '../base/variables' as v;
@use '../custom' as *;

.iniciocyan{
    background-color: v.$background-main-cyanogen;
    margin: 20px auto;

    @include media-breakpoint-up(lg){
        min-height: 90vh;
        margin-bottom: 4px;
    }

    &__title{
        padding: 12px;
        margin: 10px auto;
        background-color: v.$background-title-cyanogen;
        font-size: v.$font-size-lvl3;
        border-radius: 5px;
    }

    &__gallery {
        margin: 5px;
        padding: 10px 10px;
      }
}