@use '../base/variables' as v;
@use '../custom' as *;

.iniciocyan{
    background-color: v.$background-main-cyanogen;
    margin: 20px auto;
    color: v.$color-text-primary;

    @include media-breakpoint-up(lg){
        max-height: 150vh;
    }

    &__title{
        padding: 11px;
        margin: 10px auto;
        background-color: v.$background-title-cyanogen;
        font-size: v.$font-size-lvl3;

        @include media-breakpoint-up(lg){
            font-size: v.$font-size-lvl2;
        }
    }

    &__gallery {
        margin: 5px;
        padding: 10px 10px;
      }
}