@use '../base/variables' as v;
@use '../custom' as *;

.versioncyan{
    background-color: v.$background-main-cyanogen;
    margin: 20px auto;
    color: v.$color-text-primary;

    @include media-breakpoint-up(lg) {
        min-height: 90vh;
    }

    &__title{
        padding: 11px;
        margin: 10px auto;
        background-color: v.$background-title-cyanogen;
        font-size: v.$font-size-lvl3;
    }
    &__versions{
        font-family: v.$font-secondary;
        font-size: 1.4rem;
        text-align: center;
        width: 95%;
        margin: 20px auto;
        padding: 10px;
        background-color: v.$background-card-cyanogen;
        cursor: pointer;
    }

}