@use 'variables' as var;
@use '../custom' as *;

html{
    font-size: var.$font-size-original;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}

body{
    font-size: 2rem;
    font-family: var.$font-primary;
    background-image: url(../img/FondoMovil.png);
    background-position: center center;
    background-size: cover;

    @include media-breakpoint-up(lg){
        background-image: url(../img/fondo.gif);
    }
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
