//Variables 
//Fuentes
$font-primary: 'NicoMoji', sans-serif;
$font-secondary: 'Rubik', sans-serif;
$font-aditional: 'AveriaSerifLibre', sans-serif;

//Tamaños de fuentes
$font-size-original: 62.5%;
$font-size-lvl1: 3.8rem;
$font-size-lvl2: 2.9rem;
$font-size-lvl3: 2.4rem;
$font-size-lvl4: 2rem;
$font-size-lvl5: 1.5rem;

//Colores
$background-header: #7DFFB9;
$background-navigation: #CBF3BD;
$background-main: #78A081;
$background-card: #BEE58B;
$background-title: #2C8F42;
$background-subtitle: #4bac60;
$color-text-primary: #121212;
$color-text-secondary: #ffffff;

//Otros colores "cyanogenmod" y "lineageos"
$background-header-cyanogen: #4B89AB;
$background-navigation-cyanogen: #6FB9E3;
$background-main-cyanogen: #255B78;
$background-card-cyanogen: #7994A3;
$background-title-cyanogen: #065582;

$background-header-lineage: #c2f6e7;
$background-navigation-lineage: #8adab6;
$background-main-lineage: #39eecd;
$background-card-lineage: #32db9f;
$background-title-lineage: #a6face;

//Media-queries
$small: 576px;
$medium: 768px;
$big: 1024px;

//Separacion
$separation: 4rem;