@use '../base/variables' as v;

.iniciosesion{
    font-family: v.$font-secondary;

    &__cabecera{
        font-size: v.$font-size-lvl3;
        background-color: v.$background-header;
        text-align: center;
        text-transform: uppercase;
    }

    &__body{
        text-align: center;
        background-color: v.$background-card;
        font-size: v.$font-size-lvl4;
        font-family: v.$font-aditional;
    }

    &__footer{
        text-align: center;
        background-color: v.$background-header;
    }
}