@use "../base/variables" as v;
@use '../custom' as *;

.logo {
    background-color: v.$background-main;
    margin: 20px auto;
    color: v.$color-text-secondary;
    font-family: v.$font-primary;
    font-size: v.$font-size-lvl3;

    &__title {
        padding: 11px;
        margin: 10px auto;
        background-color: v.$background-title;

        @include media-breakpoint-up(md) {
            font-size: v.$font-size-lvl2;
        }
    }

    &__images {
        margin: 25px auto;
        padding-bottom: 7rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        justify-content: center;
        align-items: center;
        gap: 10px;

        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
        }
    }
}

.logo1__image,
.logo2__image,
.logo3__image,
.logo4__image {
    width: 50%;
    margin: 35px auto;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    cursor: pointer;

    &:hover {
        width: 65%;
    }
}

.logo1__image{
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    @include media-breakpoint-up(md){
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
}
.logo2__image{
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    @include media-breakpoint-up(md){
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
}
.logo3__image{
    grid-row: 3 / 4;
    grid-column: 1 / 2;

    @include media-breakpoint-up(md){
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
}
.logo4__image{
    grid-row: 4 / 5;
    grid-column: 1 / 2;

    @include media-breakpoint-up(md){
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }
}
.logo5__image {
    margin: 0 auto;
    width: 30%;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    cursor: pointer;
    grid-row: 5 / 6;
    grid-column: 1 / 3;

    @include media-breakpoint-up(md){
        grid-row: 3 / 4;
        grid-column: 1 / 3;
    }

    &:hover {
        width: 45%;
    }
}