@use "../base/variables" as v;
@use '../custom' as *;

.logo {
    background-color: v.$background-main;
    margin: 20px auto;
    color: v.$color-text-secondary;
    font-family: v.$font-primary;
    font-size: v.$font-size-lvl3;

    &__title {
        padding: 11px;
        margin: 10px auto;
        background-color: v.$background-title;

        @include media-breakpoint-up(md) {
            font-size: v.$font-size-lvl2;
        }
    }

    &__images {
        margin: 25px auto;
        padding-bottom: 7rem;
        cursor: pointer;
    }
}

.logo1__image,
.logo2__image,
.logo3__image,
.logo4__image {
    width: 40%;
    margin: 45px auto;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease;

    &:hover {
        width: 500px;
    }
}

.logo5__image {
    margin: 0 auto;
    margin: 30px 20px;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease;

    &:hover {
        width: 400px;
    }
}