@use "../base/variables" as v;
@use "../custom" as *;

.dispositivo {
  background-color: v.$background-main;
  margin: 20px auto;
  color: v.$color-text-primary;


  &__title {
    padding: 11px;
    margin: 10px auto;
    background-color: v.$background-title;
    font-size: v.$font-size-lvl3;
    color: v.$color-text-secondary;
  }

  &__images{
    width: 90%;
    margin: 10px auto;
  }

  &__image1, &__image2, &__image3, &__image4, &__image5, &__image6, &__image7, &__image8, &__image9{
      width: 400px;
      transition-property: width;
      transition-duration: 0.5s;
      transition-timing-function: ease;

      &:hover {
        width: 450px;
      }
  }
}