@use '../base/variables' as v;
@use '../custom' as *;

.header {
    font-family: v.$font-primary;
    width: 100%;
    background-color: v.$background-header;

    &__title{
        font-size: v.$font-size-lvl2;
        margin-right: 1rem;

        @include media-breakpoint-up(lg){
            font-size: v.$font-size-lvl1;
        }
    }

    &__image{
        max-width: 75px;
        border-radius: 45%;
        overflow: hidden;

        @include media-breakpoint-up(lg){
            max-width: 90px;
        }
    }
}
