@use "../base/variables" as v;
@use '../custom' as *;

.information {
  background-color: v.$background-main;
  color: v.$color-text-secondary;
  font-family: v.$font-primary;

  &__title {
    padding: 11px;
    margin: 0px auto;
    background-color: v.$background-title;

    @include media-breakpoint-up(md){
      font-size: v.$font-size-lvl2;
    }
  }

  &__cards {
    margin: 0 auto;
  }
}
