@use '../base/variables' as v;
@use '../custom' as *;

.desarrollolineage {
    background-color: v.$background-main-lineage;
    margin: 20px auto;
    color: v.$color-text-primary;

    @include media-breakpoint-up(lg) {
        max-height: 150vh;
    }

    &__title {
        padding: 11px;
        margin: 10px auto;
        background-color: v.$background-title-lineage;
        font-size: v.$font-size-lvl3;
    }

    &__details {
        margin: 28px 20px;
        margin: 0px auto;
        cursor: pointer;
    }

    &__detail {
        background-color: v.$background-card-lineage;
        border: 1px solid v.$color-text-primary;
        padding: 3px 2px;
        // width: 100%;
    }
}

.detail__title {
    font-size: v.$font-size-lvl3;
    background-color: v.$background-subtitle-lineage;
    color: #ffffff;
    border-radius: 7px;
}

.detail__description {
    font-size: v.$font-size-lvl5;
    font-family: v.$font-aditional;
    padding: 15px;
    line-height: 1.6;
    transition-property: font-size;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;

    &:hover {
        font-size: 1.6rem;
    }
}