@use '../base/variables' as v;
@use "../custom" as *;

.headerlineage{
    font-family: v.$font-primary;
    width: 100%;
    background-color: v.$background-header-lineage;

    &__title{
        font-size: v.$font-size-lvl2;
        margin-right: 0.7rem;

        @include media-breakpoint-up(lg){
            font-size: v.$font-size-lvl1;
        }
    }

    &__image{
        max-width: 65px;
        margin-right: 10px;
    }
}