@use '../base/variables' as v;
@use '../custom' as *;

.versionlineage{
    background-color: v.$background-main-lineage;
    margin: 20px auto;
    color: v.$color-text-primary;

    @include media-breakpoint-up(lg) {
        min-height: 100vh;
    }

    &__title{
        padding: 11px;
        margin: 10px auto;
        background-color: v.$background-title-lineage;
        font-size: v.$font-size-lvl3;

    }
    &__versions{
        font-family: v.$font-aditional;
        font-size: 1.4rem;
        text-align: center;
        margin: 20px auto;
        padding: 10px;
        width: 95%;
        background-color: v.$background-card-lineage;
        cursor: pointer;
    }

}